///////////////////////
//LOgo

.logo {
    height: 3.25rem;
    margin-left: 3.2rem;
}


///////////////////////
//search
.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    &__input {
        font-family: inherit;
        color: inherit;
        font-size: inherit;
        width: 90%;
        margin: 0;
        padding: .7rem 2rem;
        border-radius: 100px;
        border: none;
        background-color: var(--color-Grey-light-2);
        margin-right: -3rem;
        &:focus {
            width: 100%;
            outline: none;
            background-color: var(--color-Grey-light-3);
        }

        &::-webkit-input-placeholder {
            color: var(--color-Grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-Grey-light-3);
    }


    &__button {
        border: none;
        background-color: var(--color-Grey-light-2);
        &:focus {
            outline: none;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-Grey-dark-3);
    }
}

///////////////////////
//navigation

.user-nav {
    align-self: stretch;

    display: flex;
    align-items: center;

    & > * {
        padding: 0 2rem;        
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & > *:hover {
        background-color: var(--color-Grey-light-3);
        
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
    }

    &__notification {
        position: absolute;
        top: 1.5rem;
        right: 1.3rem;
        background-color: var(--color-Primary);
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 100px;
        color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
    }
}